<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="fullwidth-container">
    <mat-sidenav class="sidebar" #sidenav>
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <mat-icon (click)="sidenav.open()">menu</mat-icon>
                <span>Challange Sample</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>